/* CSS RESET */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Bai Jamjuree", sans-serif;
}

/* REUSEABLE */

.heading {
  color: hsl(210, 10%, 33%);
  text-align: center;
  line-height: 36px;
}

.text {
  font-size: 16px;
  color: hsl(201, 11%, 66%);
  text-align: center;
  line-height: 26px;
}

.download-button-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.download-button {
  border-radius: 25px;
  height: 50px;
  color: #fff;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-bottom: solid 2.5px rgba(75, 84, 92, 0.3);
  transition: all 0.2s;
}

.download-button:first-of-type {
  margin-bottom: 20px;
}

.download-button-ios {
  background-color: hsl(171, 66%, 44%);
  box-shadow: 0px 4px 12px rgba(38, 186, 164, 0.4);
}

.download-button-ios:hover {
  background-color: rgba(38, 186, 164, 0.8);
}

.download-button-mac {
  background-color: hsl(233, 100%, 69%);
  box-shadow: 0px 4px 12px rgba(158, 171, 177, 0.4);
}

.download-button-mac:hover {
  background-color: rgba(96, 114, 255, 0.8)
}

/* HEADER */

.header {
  padding: 140px 25px 100px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url(images/bg-header-mobile.png);
  background-position: top center;
  background-repeat: no-repeat;
}

.header-heading {
  font-weight: 600;
  margin: 70px 0px 20px 0px;
}

.header-copy {
  margin-bottom: 40px;
}


/* DOWNLOADS SECTION */

.downloads {
  padding: 0px 25px 100px 25px;
}

.downloads-heading {
  font-size: 26px;
  margin-bottom: 20px;
}

.downloads-text {
  margin-bottom: 40px;
}

/* FOOTER */

.footer {
  padding: 40px 0px 40px 0px;
  background-color: rgba(158, 171, 177, 0.1);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  width: 50px;
  height: 50px;
  margin-bottom: 40px;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-navigation-link {
  text-decoration: none;
  color: hsl(210, 10%, 33%);
  transition: all 0.2s;
  margin-bottom: 20px;
}

.footer-navigation-link:hover {
  color: hsl(171, 66%, 44%);
}

.footer-social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.footer-social-icon {
  margin-right: 40px;
}

.footer-social-icon:last-of-type {
  margin-right: 0px;
}

svg path {
  transition: all 0.2s;
}

svg:hover path {
  fill: hsl(171, 66%, 44%);
}
