/* CSS RESET */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Bai Jamjuree", sans-serif;
}

/* REUSEABLE */

.heading {
  color: hsl(210, 10%, 33%);
  text-align: center;
  line-height: 36px;
}

.section-heading {
  font-size: 26px;
  margin-bottom: 10px;
}

.small-heading {
  font-size: 22px;
  margin-bottom: 10px;
}

.text {
  font-size: 16px;
  color: hsl(201, 11%, 66%);
  text-align: center;
  line-height: 26px;
}

.download-button-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.download-button {
  border-radius: 25px;
  height: 50px;
  color: #fff;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-bottom: solid 2.5px rgba(75, 84, 92, 0.3);
  transition: all 0.2s;
}

.download-button:first-of-type {
  margin-bottom: 20px;
}

.download-button-ios {
  background-color: hsl(171, 66%, 44%);
  box-shadow: 0px 4px 12px rgba(38, 186, 164, 0.4);
}

.download-button-ios:hover {
  background-color: rgba(38, 186, 164, 0.8);
}

.download-button-mac {
  background-color: hsl(233, 100%, 69%);
  box-shadow: 0px 4px 12px rgba(158, 171, 177, 0.4);
}

.download-button-mac:hover {
  background-color: rgba(96, 114, 255, 0.8)
}

/* HEADER */

.header {
  padding: 140px 15px 100px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url(images/bg-header-mobile.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.header-heading {
  font-weight: 600;
  margin: 70px 0px 20px 0px;
}

.header-copy {
  font-size: 18px;
  margin-bottom: 40px;
}


/* FEATURES SECTION */

.features {
  padding: 0px 35px 100px 35px;
  display: flex;
  flex-direction: column;
}

.features-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-content {
  display: flex;
  flex-direction: column;
}

.features-text {
  margin-bottom: 40px;
}

.features-text-last {
  margin-bottom: 0px;
}

.features-computer {
  width: 300px;
  height: 225px;
  margin: 60px 0px 60px 0px;
}


/* ACCESS SECTION */

.access {
  padding: 0px 35px 80px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.access-devices {
  widows: 305px;
  height: 225px;
  margin-top: 60px;
}


/* WORKFLOW SECTION */

.workflow {
  padding: 0px 25px 100px 25px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.workflow-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workflow-intro {
  margin-bottom: 20px;
}

.workflow-img {
  height: 32px;
  width: 42px;
  margin: 40px 0px 40px 0px;
}


/* USERS SECTION */

.users {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.users-img {
  margin-bottom: 60px;
}



/* DOWNLOADS SECTION */

.downloads {
  padding: 0px 35px 100px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.downloads-heading {
  font-size: 26px;
  margin-bottom: 20px;
}

.downloads-text {
  margin-bottom: 40px;
}

/* FOOTER */

.footer {
  padding: 40px 0px 40px 0px;
  background-color: rgba(158, 171, 177, 0.1);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  width: 50px;
  height: 50px;
  margin-bottom: 40px;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-navigation-link {
  text-decoration: none;
  color: hsl(210, 10%, 33%);
  transition: all 0.2s;
  margin-bottom: 20px;
}

.footer-navigation-link:hover {
  color: hsl(171, 66%, 44%);
}

.footer-social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.footer-social-icon {
  margin-right: 40px;
}

.footer-social-icon:last-of-type {
  margin-right: 0px;
}

svg path {
  transition: all 0.2s;
}

svg:hover path {
  fill: hsl(171, 66%, 44%);
}


/* MEDIA QUERIES */

@media screen and (min-width: 600px) {
  .download-button-container {
    flex-direction: row;
    justify-content: center;
  }

  .download-button {
    width: 200px;
  }

  .download-button:first-of-type {
    margin-right: 15px;
  }
}

@media screen and (min-width: 1000px) {

  .header-copy {
    width: 650px;
  }

  .header-heading {
    font-size: 40px;
  }

  .section-heading {
    font-size: 30px;
  }

  .header {
    background-image: url(images/bg-header-desktop.png);
  }

  .features {
    padding: 0px 0px 100px 0px;
  }

  .features-computer {
    margin: 60px 100px 0px 0px;
    width: 675px;
    height: 525px;
  }

  .features-container {
    flex-direction: row;
  }

  .features-content {
    align-items: flex-start;
  }

  .features-text {
    width: 350px;
    text-align: left;
  }

  .features-text-intro {
    width: 625px;
    align-self: center;
  }

  .access {
    padding: 0px 0px 80px 0px;
  }

  .access-devices {
    height: 500px;
    width: 800px;
  }
  .access-text {
    width: 600px;
  }

  .users {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .workflow {
    padding: 0px 0px 100px 0px;
  }

  .workflow-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }

  .workflow-content {
    width: 350px;
  }

   .downloads-text {
     width: 600px;
     
   }

  .footer {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .footer-navigation {
    align-items: flex-start;
  }

  .footer-navigation-link:last-of-type {
    margin-bottom: 0px;
  }

  .footer-logo {
    margin-bottom: 0px;
  }

}